@include component(feature) {
  text-align: center;

  i.fa {
    font-size: 50px;
    color: #5C2D7C;
  }
  h3 {
    font-size: 24px;
    color: #5C2D7C;
  }
  p {
    font-size: 16px;
    color: #666;
  }
}


