@include component(navbar) {
  //  background-color: transparent;
  border-radius: 0;
  border: none;
  font-size: small;
  text-transform: uppercase;

  &.navbar-top {
    height: 100px;
    .navbar-brand {
      background-color: white;
      img {
        background-color: white;
        height: 60px;
        position: relative;
      }
    }
  }
  &.navbar-default .navbar-brand:hover, &.navbar-default .navbar-brand:focus {
    background-color: white !important;
  }
}