

@include component(navbar) {
//  background-color: transparent;
  border-radius: 0;
  border: none;

  .navbar-brand {
    background-color: white;
    img {
      background-color: white;
      height: 40px;
      position: relative;
      top: -12px;
      @media (min-width: $screen-md-min) {
        display: none;
      }
    }
    @media (min-width: $screen-md-min) {
      background-color: transparent;
    }
  }
 }

@include component(brand) {
  display: none;

  position: absolute;
  top: 0;
  left: 20px;
  padding: 20px 20px;
  background-color: white;
  img {
    width: 200px;
  }

  @media (min-width: $screen-md-min) {
    display: block;
  }

}