@include component(navbar) {
  //  background-color: transparent;
  border-radius: 0;
  border: none;

  .navbar-brand {
    background-color: white;
    img {
      background-color: white;
      height: 40px;
      position: relative;
    }
  }
  &.navbar-default .navbar-brand:hover, &.navbar-default .navbar-brand:focus {
    background-color: white !important;
  }
}