//$navbar-height: 100px;
$navbar-margin-bottom: 0;
$navbar-default-color:white; //#333;
$navbar-default-bg: #032546; //white;
$navbar-default-border: darken($navbar-default-bg, 6.5%) !default;
//
$navbar-default-link-color:               white !default;
$navbar-default-link-hover-color:          #eee !default;
$navbar-default-link-hover-bg:             lighten($navbar-default-bg, 6.5%) !default;
$navbar-default-link-active-color:         white !default;
$navbar-default-link-active-bg:            darken($navbar-default-bg, 6.5%) !default;
$navbar-default-link-disabled-color:       #ccc !default;
$navbar-default-link-disabled-bg:          transparent !default;
//
//// Navbar brand label
//$navbar-default-brand-color:               $navbar-default-link-color !default;
//$navbar-default-brand-hover-color:         darken($navbar-default-brand-color, 10%) !default;
//$navbar-default-brand-hover-bg:            transparent !default;

$font-family-sans-serif: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
$text-color: #727272;